fastapi
uvicorn[standard]
langchain
langchain-community
langchain-chroma
langchain-groq
langchain-google-genai
chromadb
youtube-transcript-api
yt-dlp
instaloader
httpx
python-dotenv
pydantic

# Optional local only: openai-whisper
